//- Open Graph
mixin og(ogtype, ogtitle, ogdesc, ogurl, ogimg, ogloc)
	meta(property="og:type" content=ogtype)
	meta(property="og:title" content=ogtitle)
	meta(property="og:description" content=ogdesc)
	meta(property="og:url" content=ogurl)
	meta(property="og:image" content=ogimg)
	meta(property="og:locale" content=ogloc)

//- webp
mixin webp(path, picClass, alt)
	- var pathSlice = path.slice(0, -4);
	picture(class= picClass+'_pic')
		source(srcset= pathSlice+'.webp', type='image/webp')
		img(class= picClass+'_img', src= path, alt= alt ? alt : 'image')

//- Browserhappy
mixin browserhappy(lang)
	case lang
		when 'ru': <!--[if lt IE 10]><div id="browsehappy" style="position:relative; z-index:1; padding:1em; text-align:center; background-color:#8E6AAF; color:#fff;">Вы используете <strong>устаревший</strong> браузер. <a href="http://browsehappy.com/" target='_blank' style="color:inherit; text-decoration:underline; cursor:pointer;">Обновите браузер</a> для корректной работы сайта. <button type='button' onclick=' getElementById("browsehappy").style.display = "none"; ' style="color:initial">Закрыть</button></div><![endif]-->
		when 'en': <!--[if lt IE 10]><div id="browsehappy" style="position:relative; z-index:1; padding:1em; text-align:center; background-color:#8E6AAF; color:#fff;">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/" target='_blank' style="color:inherit; text-decoration:underline; cursor:pointer;">upgrade browser</a> to improve your experience. <button type='button' onclick=' getElementById("browsehappy").style.display = "none"; ' style="color:initial">Close</button></div><![endif]-->
